<div class="footer">
  <%= image_tag "survivor.png", class: "footer_image" %>
    <div class="arrow-5"></div>
  <%= image_tag "SEO-bro.png", class: "footer_image" %>
    <div class="arrow-5"></div>
  <%= image_tag "Rowing-amico.png", class: "footer_image" %>
</div>
