<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="banner">
  <div class="container">
    <h1>Donnez du sens à votre vie! Choisissez un travail éthique!</h1>
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
        <label for="inputEmail4">Localisation du poste</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Où">
        </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Le job de vos rêves</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Quoi?">
      </div>
    </div>
  </div>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>