<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="banner">
  <div class="container">
    <h1>Donnez du sens à votre vie! Choisissez un travail éthique!</h1>
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
        <label for="inputou">Localisation du poste</label>
        <input type="texte" class="form-control" id="inputou" placeholder="Où?">
        </div>
      <div class="form-group col-md-6">
        <label for="inputquoi">Le job de vos rêves</label>
        <input type="texte" class="form-control" id="inputquoi" placeholder="Quoi?">
      </div>
    </div>
  </div>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>