<div class= "container">

  <div class= "card-show">
    <p><%= @offer.name %></p>
    <p>// Company name //</p>
    <p><%= @offer.description %></p>
    <p><%= @offer.income %></p>
    <p><%= @offer.contract %></p>
  </div>



</div>
