.banner-homepage {
  height: 400px;
  background-color: #21094E;
}
.container-homepage {
  width: 700px;
  margin: auto;
  padding-top: 70px;
  
}
.container-index-search {
  background-color: #21094E;
  padding-bottom: 10px;
  padding-left:370px;
  padding-right:370px;
  width: 1400px;
  height:200px;
  margin: auto;

}