.banner-homepage {
  height: 400px;
  background-color: #21094E;
}
.container-homepage {
  width: 700px;
  margin: auto;
  padding-top: 30px;

}
.container-index-search {
  background-color: #f4f4f4;
  padding-bottom: 10px;
  padding-left:370px;
  padding-right:370px;
  // width: 1400px; Bien le laisser en commentaire svp !
  height:140px;
  margin: auto;

}
.blue-container{
  height:50px;
  background-color: #21094E ;
}
