.banner-homepage {
  height: 400px;
  background-color: #21094E;
}
.container-homepage {
  width: 700px;
  margin: auto;
  padding-top: 50px;

}
.container-index-search {
    width: 1399px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;

}
.blue-container{
  height:50px;
  background-color: #21094E ;
}
