.card-show {
  width: 600px;
  height: 750px;
  background-color: white;
  border: 5px solid transparent;
  border-radius: 10px;
  box-shadow: rgb(138, 132, 132);
  padding: 8px;
  margin: auto;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.coeur-fav-show {
 align-self: flex-end;
 position: absolute;
 top: 0.5em;
}

.underline {
  text-decoration: underline;
}

.center {
  justify-content: center;
}

.details-offers {
  margin: 2em;
}
