.card-show {
  width: 600px;
  height: 85vh;
  background-color: white;
  border: 5px solid transparent;
  border-radius: 10px;
  box-shadow: rgb(138, 132, 132);
  padding: 8px;
  margin: auto;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 1em;
}

.show-header {
  background-color: rgb(253, 242, 242);
  border-radius: 8px;
}

.show-description {
  margin-top: 1em;
}

.bold {
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;

}

.income {
  font-size: larger;
}

.fontsize {
  font-size: larger;

}

.coeur-fav-show {
 align-self: flex-end;
 position: relative;
 bottom: 0.5em;
 right: 0.5em;
 font-size: larger;
}

.padding {
  padding: 0.2em;
  padding-left: 10px;
}

.underline {
  text-decoration: underline;
}

.center {
  justify-content: center;
}

.details-offers {
  margin: 2em;
  position: sticky;
  top: 0;
  height: 100vh;

  svg {
    height: 556px;
  }
}

.make-hide {
  visibility: hidden;
}
