.search-input {
  color: black;
  border-radius: 15px;
}

.input-criteria{
 border: solid 2px #664da6;
}

.label-color {
  color:white;
}

.label-color-u {
  color:black;
}

.label-align {
  margin-bottom: 5em;
}

.form-align-u {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}
.form-align {
  display:flex;
  align-items: flex-end;
  justify-content: space-between;

}

.shared_container{
  justify-content: center;
  background-color:#f4f4f4;
  box-shadow: unset;
}

.search-bar-index{
  background-color: #21094e;
  margin-top: -50px;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  margin: 0 auto;
}

.filter-banner{
  background-color: #d3cedc;
  width: 100%;
  //border-bottom: solid 2px #21094e;
}

.all-filter{
  width: 90%;
  margin: 0 auto;
  padding: 15px 0;
}
