.form-control {
  color: white;
  border-radius: 15px;
  }

.label-color {
  color:white;
}
.form-align-u {
  display: flex;
  align-items:flex-end;
  justify-content: space-between;

}

.label-align {
//   padding-left:10px;
//   padding-right:10px;
//   padding-bottom:20px;
// }
}