.hashtags{
  color: #F2C00C;
  text-decoration: none;
  text-align: center;
}
a:hover {
  text-decoration: none;
}

.hashtag-container {
  text-align: center;
  padding-top: 40px;
}

ul.cloud {
  padding-top: 60px;
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 2.5rem;
}

ul .valeur {
color: #F2C00C;
  display: block;
  font-size: 1.5rem;
  padding: 0.125rem 0.25rem;
  text-decoration: none;
  position: relative;

}

.cloud-list a[data-weight="4"]
 {--size: 4; }

 .cloud-list a[data-weight="2"]
 {--size: 2; }

 .cloud-list a[data-weight="5"]
 {--size: 5; }


.cloud-list a[data-weight="8"]
 {--size: 8; }

 .cloud-list a[data-weight="6"]
 {--size: 6; }

 .cloud-list a[data-weight="4"]
 {--size: 4; }

 .cloud-list a[data-weight="5"]
 {--size: 5; }

 .cloud-list a[data-weight="9"]
 {--size: 9; }

 .cloud-list a[data-weight="7"]
 {--size: 7; }

 .cloud-list a {
  --size: 6;
  font-size: calc(var(--size) * 0.25rem + 0.5rem);
  /* ... */
}

.cloud-list a {
  opacity: calc((15 - (9 - var(--size))) / 15); // pour gérer l'opacité
  /* ... */
}


.valeur:hover {
   color:#035ac1;
}
