.navbar-lewagon {
  background: white;
  justify-content: space-between;
}

.navbar-home {
 justify-content: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  padding-top: 85px;

}
.navbar-home-avatar {
  position: absolute;
  right: 0;
}

.navbar-home .navbar-brand img  {
  margin: 0 auto;
}

.navbar-lewagon .navbar-brand img {
  width: 250px;

}
